// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #fc243c;
$secondary: #5f5031;
$success: #3e8d63;
$info: #7854e4;
$warning: #5e92dc;
$danger: #d62518;
$light: #f0eeef;
$dark: #444;
$nav: #da4242a7;
$recherche: #d2904ebc;

//custom color to be mapped
$accent: #da6d25;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  nav: $nav,
  recherche: $recherche,

  // add any additional color below
  accent: $accent,
  selected: #575757,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.map-container {
  height: 55vh;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
